@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #171717;
  --secondary: #EBEBE6;
  --bg: #DD323F;
  --primary-rgb: 23, 23, 23;
  --secondary-rgb: 235, 235, 230;
  --bg-rgb: 221, 50, 63;
  --cursor-size: 3rem;
  --cursor-text-size: 5rem;
  --sec-font: 'super-retro-m54', sans-serif;
}

*{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

html, body {
  cursor: none;
  overflow-x: hidden;
}

html{
  font-size: calc(10 / 1440 * 100vw);
}

@font-face {
  font-family: 'super-retro-m54';
  src: url('~/assets/fonts/super-retro-m54.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  font-weight: 400;
}


/* Ubah warna latar belakang scrollbar */
body::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
  background-color: transparent/* Warna latar belakang scrollbar */
}

/* Ubah warna track scrollbar */
body::-webkit-scrollbar-track {
  background-color: var(--secondary); /* Warna track scrollbar */
  mix-blend-mode: difference;
}

/* Ubah warna thumb scrollbar */
body::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* Warna thumb scrollbar */
  border-radius: 4px; /* Radius sudut thumb scrollbar */
  mix-blend-mode: difference;
}

/* Ubah warna thumb scrollbar saat dihover */
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary); /* Warna thumb scrollbar saat dihover */
  mix-blend-mode: difference;
}
